<div class="modal-header">
    <a class="close" ng-click="$dismiss()">&times;</a>
    <h4 class="modal-title">缴费确认</h4>
</div>
<div class="modal-body">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>姓名</th>
                <th>应缴金额</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in userDuePayList">
                <td ng-bind="item.userName"></td>
                <td ng-bind="item.totalDuePay"></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="confirm()">确认</button>
    <button class="btn" ng-click="$close()">取消</button>
</div>