<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false"> 
     
  
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${daily.bill.log.level}</level>
        </filter>
    </appender>
    
    <!-- sql log -->
    <appender name="SQL-LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${daily.bill.log.path}/daily-bill-sql-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>
    
    <!-- file log -->
    <appender name="TASK-LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${daily.bill.log.path}/test-log-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${daily.bill.log.level}</level>
        </filter>        
    </appender>
    
    <!-- debug log -->
    <appender name="DEBUG-LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${daily.bill.log.path}/daily-bill-debug-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>2</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder> 
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>       
    </appender>    
    
    <!-- 为指定包（类）引用appender -->
    
    <logger name="com.daily.bill.dal" additivity="false" level="DEBUG">
        <appender-ref ref="SQL-LOG" />
        <appender-ref ref="STDOUT" />
    </logger>
    
    <logger name="org.mybatis" additivity="false" level="DEBUG">
        <appender-ref ref="SQL-LOG" />
        <appender-ref ref="STDOUT" />
    </logger>    
    
	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="TASK-LOG" />
		<appender-ref ref="DEBUG-LOG" />
	</root>

</configuration>  