<div class="page-header">
    <h1>账单总览</h1>
</div>
<div class="row">
    <div class="col-md-12">
        <button class="btn" ng-click="pay()">缴所有</button>
    </div>
    <div class="col-md-7 mt10">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>日期</th>
                    <th>金额</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="detail in detailList">
                    <td>{{detail.createStartDate | getStartOfCurWeekFilter}}至{{detail.createEndDate | getEndOfCurWeekFilter}}</td>
                    <td ng-bind="detail.totalDuePay"></td>
                    <td>
                        <button class="btn" ng-click="pay(detail)" ng-if="detail.status == 0">缴费</button>
                    </td>
                </tr>
                </tbody>
            </table>
    </div>
    <div class="col-md-7 mt10 text-right">
        <ul pagination ng-model="page" items-per-page="size" total-items="total" ng-change="getPayBillWeekDetailList()"></ul>
    </div>
</div>