<div class="page-header">
    <h1>账单总览</h1>
</div>
<div class="row">
    <div class="col-md-12">
        <button class="btn" ng-click="pay()">缴所有</button>
    </div>
    <div class="col-md-7 mt10">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>日期</th>
                    <th>金额</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>2016-04-10至2016-04-16</td>
                    <td>200</td>
                    <td>
                        <button class="btn" ng-click="pay()">缴费</button>
                    </td>
                </tr>
                </tbody>
            </table>
    </div>
</div>